PROD=false      # Set to true when deploying the app publicly 
CLIENT_ORIGIN=  # Your client URL, set to http://localhost:5173 by default
DATABASE_URL="" # Your PostgreSQL URL, postgresql://...
RESEND_API_KEY= # Your Resend API key